/* mobile-first */
/* base viewport: 350px-699px */
/* larger viewport: 700px-1149px */
/* very large viewport: 1150px+ */

@import url("https://fonts.googleapis.com/css?family=Martel:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400i,700,700i");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font: 16px Martel, serif;
  min-width: 350px;
}

.tribute {
  /* not a flex container */
  background-color: #e5e5e5;
  border-radius: 6px;
  margin: .8rem auto;
  min-width: 325px;
  padding-bottom: 2rem;
  width: 94vw;
}

/* header group */

.tribute__name {
  min-height: 5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.tribute__name--header, .tribute__name--tagline {
  font-family: "Lato", sans-serif;
}

.tribute__name--header {
  font-size: 2.5rem;
  margin-top: .2rem;
}

.tribute__name--tagline {
  font-size: 1.5rem;
  font-style: italic;
  margin: .05rem 0 .5rem;
}

/* image and credit byline */

.tribute__image {
  display: flex;
  flex-flow: column nowrap;
  background-color: #fff;
  border-radius: 4px;
  max-width: 85%;
  margin: 0 auto;
}

.tribute__image img {
  max-width: 95%;
  margin: 10px 10px 3px;
  border: 1.5px solid black;
  align-self: center;
}

#img-caption {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.tribute__image--caption {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: .2rem;
}

.tribute__image--photocredit {
  font-weight: normal;
  font-size: .7em;
  padding: .2rem 0 .7rem 0;
}

/* timeline */

.tribute__timeline--header {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  padding: 1.4rem .7rem .6rem;
  text-align: center;
}

.tribute__timeline--story {
  display: flex;
  flex-direction: column;
  margin-left: 1.2rem;
}

.tribute__timeline--year {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: -5px;
}

.tribute__timeline--detail {
  font-size: 1.05rem;
  padding-bottom: 1.1rem;
  margin: 0 1.2rem 0 1rem;
}

.tribute__timeline--detail:last-of-type {
  padding-bottom: 2rem;
}

/* blockquote */

.tribute__blockquote {
  background: #b8b8b8;
  box-shadow: 10px 5px 5px #555454;
  border-radius: 2px;
  padding: .5rem .9rem 1rem .9rem;
  max-width: 83%;
  margin: 0 auto;
}

.tribute__blockquote--quote {
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}

.tribute__blockquote--citation {
  font-family: "Lato", sans-serif;
  font-size: .9rem;
  color: #383030;
}

/* link to fan website */

.tribute__moreinfo {
  margin: 0 auto;
  padding: 1.7rem 0 4rem;
  text-align: center;
  line-height: 1.6;
  font-size: 1.05rem;
  font-style: normal;
}

.tribute__moreinfo a {
  text-decoration: none;
}

/* hr.style13 I.Jabbari - CodePen */

.style13 {
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
  height: 10px;
  margin: 0 auto;
  width: 94vw;
}

.tribute__footer {
  font-size: .8rem;
  font-style: normal;
  margin-bottom: .8rem;
  padding: 0 .2rem;
  text-align: center;
}

/* media queries */

@media screen and (min-width: 560px) {
  .tribute__blockquote {
    max-width: 75%;
  }
}

@media screen and (min-width: 595px) {
  .tribute__blockquote--quote {
    line-height: 1.65;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 635px) {
  .tribute__blockquote {
    max-width: 70%;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 670px) {
  .tribute__blockquote {
    max-width: 65%;
  }
}

@media screen and (max-width: 1149px) and (min-width: 700px) {
  .tribute__name {
    min-height: 8.5rem;
  }
  .tribute__name--header {
    font-size: 3.7rem;
  }
  .tribute__name--tagline {
    font-size: 2.3em;
    margin: .1rem 0 .8rem;
  }
  .tribute__image {
    max-width: 70%;
    margin: 0 auto;
  }
  .tribute__image img {
    max-width: 98%;
    margin: 25px 20px 5px;
    border: 1.5px solid black;
    /* align-self: center; */
  }
  .tribute__timeline--header {
    font-size: 1.9rem;
    padding: 1.5rem 0 .7rem;
  }
  .tribute__timeline--story {
    margin-left: 3.6rem;
  }
  .tribute__timeline--year {
    font-size: 1.3rem;
    margin-bottom: -7px;
  }
  .tribute__timeline--detail {
    font-size: 1.25rem;
    margin: 0 3.5rem 0 1.2rem;
  }
  .tribute__timeline--detail:last-of-type {
    padding-bottom: 2rem;
  }
  .tribute__blockquote {
    padding: .7rem 0 1rem 2.1rem;
    max-width: 75%;
  }
  .tribute__blockquote--quote {
    font-size: 1.7rem;
  }
  .tribute__blockquote--citation {
    font-size: 1.4rem;
  }
  .tribute__moreinfo {
    line-height: 1.7;
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1150px) {
  .tribute {
    max-width: 1150px;
    margin-top: 1rem;
    padding-bottom: 3rem;
  }
  .tribute__name {
    min-height: 8em;
  }
  .tribute__name--header {
    font-size: 3.5rem;
    margin-top: .5rem;
  }
  .tribute__name--tagline {
    font-size: 2.1em;
    margin: .1rem 0 .5rem;
  }
  .tribute__image {
    max-width: 65%;
    margin: 0 auto;
  }
  .tribute__image img {
    max-width: 98%;
    margin: 25px 0 5px;
    border: 2px solid black;
    align-self: center;
  }
  .tribute__timeline--header {
    font-size: 2rem;
    padding: 1.5rem 0 .8rem;
  }
  .tribute__timeline--story {
    margin-left: 7.5rem;
  }
  .tribute__timeline--year {
    font-size: 1.3rem;
    margin-bottom: -7px;
  }
  .tribute__timeline--detail {
    font-size: 1.4rem;
    padding-bottom: 1.2rem;
    margin: 0 7.8rem 0 1.2rem;
  }
  .tribute__timeline--detail:last-of-type {
    padding-bottom: 2.5rem;
  }
  .tribute__blockquote {
    padding: .7rem 0 1rem 2.5rem;
    max-width: 70%;
  }
  .tribute__blockquote--quote {
    font-size: 1.8rem;
    line-height: 1.6;
  }
  .tribute__blockquote--citation {
    font-size: 1.4rem;
  }
  .tribute__moreinfo {
    line-height: 1.7;
    font-size: 1.6rem;
  }
  .style13 {
    max-width: 1152px;
  }
  .tribute__footer {
    font-size: .9rem;
    margin-bottom: .9rem;
  }
}

/* .tribute__blockquote--cite {
  display: inline-flex;
} */

/* #cite {
  font-family: "Lato", sans-serif;
  color: #292828;
  font-style: italic;
} */

/* .tribute__image--caption {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: .2rem;
  align-self: center;
}

.tribute__image--photocredit {
  font-weight: normal;
  font-size: .8em;
  padding: .2rem 1rem .7rem 0;
  align-self: flex-end;
} */